<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cz.martindobias.ScanIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScanIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <cz.martindobias.ScanIt.Properties.Settings>
            <setting name="twain_source" serializeAs="String">
                <value />
            </setting>
            <setting name="server_autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="start_minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="h" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="encode" serializeAs="String">
                <value />
            </setting>
            <setting name="useADF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colour" serializeAs="String">
                <value>Colour</value>
            </setting>
            <setting name="orientation" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="dpi" serializeAs="String">
                <value>300</value>
            </setting>
        </cz.martindobias.ScanIt.Properties.Settings>
        <ScanIt.Properties.Settings>
            <setting name="twain_source" serializeAs="String">
                <value/>
            </setting>
            <setting name="server_autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="start_minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8080</value>
            </setting>
        </ScanIt.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
